.our-blog {

		&__container {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: rem(120);
         padding-bottom: rem(120);
         gap: rem(80);
		}

		&__heading {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: rem(30);
		}

		&__caption {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__title {
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(50);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $p-pink;
         &>b{
            font-family: $first-family;
            font-weight: 700;
            font-size: rem(50);
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: $navy;
         }
		}
		&__blog-list {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         border-radius: rem(5);
         box-shadow: 0 0 rem(24) 0 rgba(0, 0, 0, 0.07);
         background: $white;
         gap: rem(20);
		}

		&__list-item {
         width: (380/1200)*100%;
		}

		&__img {
		}

		&__text-box {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: rem(20);
         padding: rem(30) rem(29) rem(25) rem(25);
		}

		&__byline {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(12);
         line-height: 233%;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $navy;
		}

		&__autor {
		}

		&__date {
		}

		&__info {
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(20);
         line-height: 140%;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $navy;
		}

		&__btn {
         &--list{
            width: 100%;
         }
		}
}

