.team-list {
   &__container{
      display: flex;
      flex-direction: column;
      gap: rem(70);
   }
   &__heading{
      display: flex;
      align-items: center;
      justify-content: center;
   }   
   &__caption{
      font-family: $first-family;
      font-weight: 700;
      font-size: rem(44);
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: $p-pink;
      &>b{
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(44);
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $navy;
      }
   }
   
		&__list {
         display: flex;
         flex-direction: row;
         gap: rem(30);
		}

		&__list-item {
         width: (380/1200)*100%;
         height: rem(498);
         background-color: $white;
         position: relative;
         z-index: 0;
         &:hover{
            .team-list__profile {
               background-color: $p-pink--shade3;
               display: flex;
               flex-direction: column;
               align-items: center;
               border-radius: 0 0 rem(5) rem(5);
               padding: rem(22.5) 0;
               gap: rem(10);
               bottom: rem(98);
               width: 100%;
               position: absolute;
               z-index: 1;
               transition: all 0.15s linear 0s;
            }
         }
		}

		&__img {
         width: 100%;
         height: rem(400);
         border-radius: rem(5);
		}

		&__profile {
         background-color: $p-pink--shade3;
         display: flex;
         flex-direction: column;
         align-items: center;
         border-radius: 0 0 rem(5) rem(5);
         padding: rem(22.5) 0;
         gap: rem(10);
         bottom: 0;
         width: 100%;
         position: absolute;
         z-index: 2;
         transition: all 0.3s linear 0s;
		}

		&__job {
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(18);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__name {
         font-family: $second-family;
         font-weight: 900;
         font-size: rem(25);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__invincible-block {
         width: 100%;
         background-color: $white;
         height: rem(98);
         position: absolute;
         z-index: 3;
		}
}
