.testimonials {
   width: 100%;
		&__container {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: rem(120);
         padding-top: rem(120);
         
		}
      &__background{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: rem(111) rem(200);
         gap: rem(50);
         background-color: #fff2ef;
      }
		&__heading {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: rem(30);
		}

		&__caption {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__title {
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(40);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $p-pink;
         &>b{
            font-family: $first-family;
            font-weight: 700;
            font-size: rem(40);
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: $navy;
         }
		}

		&__profile {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: rem(30);
		}

		&__img {
         border-radius: rem(5);
         width: rem(130);
         height: rem(130);
		}

		&__name {
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(25);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__description {
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(16);
         line-height: 137%;
         text-transform: capitalize;
         text-align: center;
         color: $navy;
		}
}