@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.h1-85{
   font-size: rem(85);
   font-family: "Playfair Display", serif;
   font-weight: 900;
   letter-spacing: 3%;
   text-transform: uppercase;
}
.h2-60{
   font-size: rem(60);
   font-family: "Playfair Display", serif;
   font-weight: 900;
   letter-spacing: 3%;
   text-transform: uppercase;
}
.h3-50{
   font-size: rem(50);
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   letter-spacing: 0%;
}
.h3-20{
   font-size: rem(20);
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   letter-spacing: 0%;
}
.h4-36{
   font-size: rem(36);
   font-family: "Playfair Display", serif;
   font-weight: 900;
   letter-spacing: 3%;
   text-transform: uppercase;
}
.h5-25{
   font-size: rem(25);
   font-family: "Playfair Display", serif;
   font-weight: 900;
   letter-spacing: 3%;
   text-transform: uppercase;
}
.links-18{
   font-size: rem(18);
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   letter-spacing: 2%;
   text-transform: uppercase;
}
.p-20{
   font-size: rem(20);
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   letter-spacing: 3%;
   text-transform: uppercase;
   
}
.p-16{
   font-size: rem(16);
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   letter-spacing: 0.02em;
   &--form{
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 0.03em;
      text-transform: capitalize;
   }
}

.work{
   &--14{
   font-size: rem(14);
   font-family: "Work Sans", sans-serif;
   font-weight: 500;
   letter-spacing: 2%;
   text-transform: capitalize;
   }
   &--16{
      font-weight: 400;
      font-family: "Work Sans", sans-serif;
      font-size: rem(16);
      line-height: 137%;
   }
}
