.are-you-ready {
   width: 100%;
   height: rem(549);
   background-image: url("../../img/images/Banner5Image.jpg");
   background-size: cover;        
	background-position: center;   
	background-repeat: no-repeat;
		&__container {
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: rem(120);
         padding-top: rem(120);
		}

		&__caption {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(40);
         letter-spacing: 0.03em;
         color: $white;
         margin-bottom: rem(30);
		}

		&__title {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(80);
         letter-spacing: 0.03em;
         color: $white;
         margin-bottom: rem(40);
		}

		&__description {
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(16);
         line-height: 137%;
         text-align: center;
         color: $white;
         margin-bottom: rem(50);
		}

		&__btn {
		}
}

