.blog-posts {
	display: grid;
	grid-template-columns: (483/1200)*100% (328/1200)*100% (328/1200)*100%;
	grid-template-rows: rem(235) rem(235);
	gap: rem(30);
	grid-template-areas: 
	"box-1 box-2 box-3"
	"box-1 box-4 box-5"
	;
	@media (max-width:900px) {
		grid-template-columns: (483*1200/900/1200)*100% (328*1200/900/1200)*100%;
		grid-template-rows: rem(235) rem(235) rem(235);
		grid-template-areas: 
		"box-1 box-2"
		"box-1 box-3"
		"box-4 box-5"
		;
	}
	margin-top: rem(120);
		&__posts {
			&--main {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				border-radius: rem(5);
				padding: 0 rem(51) rem(35) rem(30);
				gap: rem(18);
				& .blog-posts__content{
					text-decoration: underline;
					text-decoration-skip-ink: none;
					line-height: (50/40)*100%;
				}
			}
			//!Solve the problem//
			&--other {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				border-radius: rem(5);
				padding: 0 rem(29) rem(25) rem(25);
				gap: rem(9.47);
				& .blog-posts__content{
					font-size: rem(16);
					line-height: (39/32)*100%;
				}
			}
		}

		&__post-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			font-family: $first-family;
			font-weight: 400;
			font-size: rem(12);
			line-height: (10/12)*100%;
			letter-spacing: 0.02em;
			text-transform: capitalize;
			color: $white;
		}

		&__author {

		}

		&__data {
		}


		&__content {
			font-family: $first-family;
			font-weight: 700;
			font-size: rem(20);	
			letter-spacing: 0.02em;
			text-transform: capitalize;
			color: $white;
		}

		
}
