.counter {
   width: 100%;
   height: rem(320);
   background-image: url("../../img/images/Banner2Image.jpg");
   background-size: cover;        
	background-position: center;   
	background-repeat: no-repeat;
		&__container {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
		}

		&__text-box {
         display: flex;
         flex-direction: column;
         gap: rem(27);
         align-items: center;
		}

		&__num {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(40);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $white;
		}

		&__description {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $white;
		}
}
