.details {
   width: 100%;
		&__info {
         display: flex;
         flex-direction: row;
         gap: (70/1200)*100%;
		}

		&__text-box {
         display: flex;
         flex-direction: column;
         gap: rem(50);
         width: (790/1200)*100%;
		}


      &__title {
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(26);
         letter-spacing: 0.02em;
         color: $navy;
		}

		&__subtitle {
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(16);
         line-height: 137%;
         color: $navy--shade1;
		}


		&__description {
         display: flex;
         flex-direction: column;
         gap: rem(17);
		}

		&__additional-info {
         display: flex;
         flex-direction: column;
         gap: rem(17);
		}

		&__trip-info {
         display: flex;
         flex-direction: row;
         gap: rem(98);
		}


		&__trip-block {
         display: flex;
         flex-direction: column;
         gap: rem(13);
		}

		&__heading {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(26);
         letter-spacing: 0.02em;
         color: $navy;
		}

		&__caption {
         font-family: $first-family;
         font-weight: 500;
         font-size: rem(20);
         letter-spacing: 0.02em;
         color: $navy;
		}


		&__booking {
         width: (340/1200)*100%;
         height: 100%;
         box-shadow: 0 0 rem(25) 0 rgba(0, 0, 0, 0.05);
         background: #fff2ef;
         padding: rem(40) rem(35);
		}

		&__name {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
         margin-bottom: rem(28);
		}

      &__form{
         display: flex;
         flex-direction: column;
         gap: rem(20);
      }

		&__input {
         background: #ffd8ce;
         border-radius: rem(5);
         padding: rem(9);
         font-family: $first-family;
         font-weight: 400;
         font-size: rem(12);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
         &::placeholder{
            opacity: 1;
            font-family: $first-family;
            font-weight: 400;
            font-size: rem(12);
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: $navy;
         }
		}


      &__numofper {
         position: relative;
         &.open .details__numofper-arrow{
            transform: rotate(270deg);
            transition: 0.3s ease;
         }
         &.open .details__numofper-list{
            max-height: rem(300);
            opacity: 1;
            visibility: visible;
         }
         &.open .details__numofper-main{
            border-radius: rem(5) rem(5) 0 0;
         }
      }

      &__numofper-main {
         background: #ffd8ce;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-right: rem(15);
         border-radius: rem(5);
      }

      &__numofper-arrow {
         transform: rotate(90deg);
         transition: 0.3s ease;
         cursor: pointer;
      }
      
      &__numofper-list {
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         background: #ffe5df;
         border-radius: 0 0 rem(5) rem(5);
         opacity: 0;
         overflow: hidden;
         max-height: 0;
         visibility: hidden;
         transition: max-height 0.3s ease;
      }

      &__numofper-listitem {
         background-color: #fff2ef;
         padding: rem(13);
         cursor: pointer;
         transition: 0.2s;
         &:hover {
            background: #ffd2c7;
         }
      }

		&__btn {
         width: 100%;
		}


      
}
