.featured-tours {
   width: 100%;
		&__container {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: rem(120);
         padding-bottom: rem(120);
         gap: rem(80);
		}

		&__heading {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: rem(30);
		}

		&__caption {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__title {
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(50);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $p-pink;
         &>b{
            font-family: $first-family;
            font-weight: 700;
            font-size: rem(50);
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: $navy;
         }
		}

		&__tour-list {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         border-radius: rem(5);
         gap: rem(50);
		}
      &__list-line{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         flex-wrap: wrap;
         border-radius: rem(5);
         gap: rem(20);
      }
		&__list-item {
         flex: 1 1 0;
         box-shadow: 0 0 rem(25) 0 rgba(0, 0, 0, 0.05);
         background: $white;
         display: flex;
         flex-direction: column;
         min-width: 250px;
		}

		&__img {
         width: 100%;
         height: rem(230);
		}

      &__text-box{
         display: flex;
         flex-direction: column;
         gap: rem(20);
         padding: rem(25) rem(29) rem(25) rem(25);
         
      }

		&__description {
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(20);
         text-transform: capitalize;
         color: $navy;
		}

		&__duration {
         font-family: $first-family;
         font-weight: 500;
         font-size: rem(14);
         letter-spacing: 0.02em;
         color: $navy;
         flex-grow: 1;
		}
      
      &__price-block {
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: rem(40);
      }

		&__btn {
         height: rem(40);
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(14);
         letter-spacing: 0.02em;
         text-transform: uppercase;
         padding-right: rem(15);
         padding-left: rem(15);
		}

		&__price {
         font-family: $first-family;
         font-weight: 600;
         font-size: rem(30);
         line-height: 93%;
         letter-spacing: 0.02em;
         text-transform: lowercase;
         color: $navy;
		}
}



