.heading{
      margin-bottom: rem(-42);
      display: flex;
      align-items: center;
      justify-content: center;
      &__caption{
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(44);
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $p-pink;
         &>b{
            font-family: $first-family;
            font-weight: 700;
            font-size: rem(44);
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $navy;
         }
      }
   }