.hero {
	width: 100%;
	background-image: url("/img/images/Banner1Image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: rem(290);
	padding-bottom: rem(290);
		&__container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: rem(50);
		}

		&__heading {
			font-family: $second-family;
			font-weight: 900;
			font-size: rem(85);
			line-height: (167/170)*100%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $white;
		}

		&__subtitle {
			font-family: $first-family;
			font-weight: 600;
			font-size: rem(20);
			line-height: (14/20)*100%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $white;
		}

		&__form {
			width: 100%;
			display: flex;
			backdrop-filter: blur(rem(3));
			background: $navy;
			border-radius: rem(5);
		}

		&__label {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: rem(15);
			padding: rem(19) rem(20);
			width: (317/1200)*100%;
			height: rem(60);
		}

		&__overlap{
			flex: 0 0 1;
			background: rgba(255, 255, 255, 0.5);
			height: rem(60);
			width: rem(2);
		}

		&__input {
			font-family: $first-family;
			font-weight: 500;
			font-size: rem(16);
			line-height: (12/16)*100%;
			letter-spacing: 0.03em;
			text-transform: capitalize;
			color: $white;
			&::placeholder{
				opacity: 1;
				font-family: $first-family;
				font-weight: 500;
				font-size: rem(16);
				line-height: (12/16)*100%;
				letter-spacing: 0.03em;
				text-transform: capitalize;
				color: $white;
			}
		}

		&__location {
		}

		&__date {
			width: (335/1200)*100%;
		}

		&__num-of-per {
			width: (335/1200)*100%;
		}

		&__btn {
			width: (210/1200)*100%;
			height: rem(60);
		}
}

