.newsletter {
   width: 100%;
	height: rem(250);
   background-color: #fff2ef;
	padding: rem(77) rem(50);
	display: flex;
	align-items: center;
	&__block{
		width: 100%;
		padding-bottom: rem(120);
	}
		&__container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__heading {
			display: flex;
			align-items: center;
			font-family: $second-family;
			font-weight: 900;
			font-size: rem(36);
			letter-spacing: 0.02em;
			text-transform: capitalize;
			color: $navy;
			height: rem(96);
		}

		&__form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: rem(50);
			width: (521/1100) * 100%;
		}

		&__email {
			display: flex;
			align-items: center;
			height: 100%;
			background: #ffd8ce;
			padding: 0 rem(20);
			font-family: $first-family;
			font-weight: 400;
			font-size: rem(14);
			line-height: 300%;
			letter-spacing: 0.03em;
			color: $navy;
			width: 100%;
			&::placeholder{
					opacity: 1;
					font-family: $first-family;
					font-weight: 400;
					font-size: rem(14);
					line-height: 300%;
					letter-spacing: 0.03em;
					text-transform: capitalize;
					color: $navy;
				}
		}

		&__btn {
			border-radius: 0 rem(5) rem(5) 0;
			min-width: rem(210);
			padding-right: rem(24.5);
			padding-left: rem(24.5);
		}
}
