.recent-post {
   display: flex;
   flex-direction: column;
   padding: rem(30) rem(25) rem(30) rem(30);
   border-radius: rem(5);
   box-shadow: 0 0 rem(25) 0 rgba(0, 0, 0, 0.05);
   background: $white;
   gap: rem(20);
		&__heading {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         line-height: (25/30)*100%;
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
		}

		&__posts {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: rem(25);
		}

		&__item {
         display: flex;
         align-items: center;
         gap: rem(15);
		}

		&__img {
         border-radius: rem(5);
         width: (75/275)*100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         
		}

		&__text-box {
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
		}

		&__date {
         font-family: $first-family;
         font-weight: 500;
         font-size: rem(12);
         line-height: (9/12)*100%;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $navy;
		}

		&__title {
         font-family: $first-family;
         font-weight: 500;
         font-size: rem(14);
         //line-height: (30/28)*100%;
         line-height: 136%;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: $navy;
		}
}
