.sb-form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
		&__heading {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
         margin-bottom: rem(50);
		}

		&__per-id {
         width: 100%;
         display: flex;
         gap: rem(30);
         margin-bottom: rem(30);
		}

      &__input{
         padding: rem(15.5) rem(16);
         box-shadow: 0 0 rem(25) 0 rgba(0, 0, 0, 0.05);
         background: $white;
         border: rem(0.50) solid $navy;
         border-radius: rem(5); 
         width: (380/790)*100%;
         &::placeholder{
            font-family: $first-family;
            font-weight: 500;
            font-size: rem(12);
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $navy;
         }
      }

		&__name {
		}

		&__email {
		}

      &__message{
         width: 100%;
         height: rem(100);
         padding: rem(15.5) rem(16);
         box-shadow: 0 0 rem(25) 0 rgba(0, 0, 0, 0.05);
         background: $white;
         border: rem(0.50) solid $navy;
         border-radius: rem(5); 
         margin-bottom: rem(30);
         &::placeholder{
            font-family: $first-family;
            font-weight: 500;
            font-size: rem(12);
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $navy;
         }
      }

		&__btn {
         width: 100%;
		}
}
