.tour-type {
   width: 100%;
   background-image: url("../../img/images/Banner3Image.jpg");
   background-size: cover;        
	background-position: center;   
	background-repeat: no-repeat;
		&__container {
         display: flex;
         padding-top: rem(100);
         padding-bottom: rem(100);
         gap: rem(80);
		}

		&__text-box {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: space-between;
		}

		&__heading {
         font-family: $second-family;
         font-weight: 700;
         font-size: rem(30);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $p-pink;
		}

		&__description {
         font-family: $first-family;
         font-weight: 700;
         font-size: rem(50);
         line-height: 134%;
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $white;
         margin-bottom: rem(13);
		}

		&__btn {
		}

		&__choice-list {
         display: grid;
         grid-template-columns: rem(200) rem(200);
         grid-template-rows: rem(150) rem(150);
         gap: rem(15);
		}

      &__choice-btn {
         height: 100%;
		}
}



