.we-are-tourlux {
      display: flex;
      flex-direction: row;
      gap: rem(30);
      &__block {
         flex: 1 1 0;
         display: flex;
         flex-direction: column;
         border-radius: rem(5);
         box-shadow: 0 0 rem(24) 0 rgba(0, 0, 0, 0.07);
         padding: rem(30);
         gap: rem(20);
      }

      &__heading {
         display: flex;
         align-items: center;
         gap: rem(15);
      }

      &__icon {
         height: rem(40);
      }

      &__title {
         font-family: $second-family;
         font-weight: 900;
         font-size: rem(25);
         letter-spacing: 0.03em;
         text-transform: capitalize;
         color: $navy;
      }

      &__description {
         font-family: $third-family;
         font-weight: 400;
         font-size: rem(16);
         line-height: 137%;
         color: $navy;
      }

}
