.index{
   &__body{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $white;
   }
}
@media (max-width: 1440px) {
   html{
      font-size: 12px;
   }
}
@media (max-width: 1600px) {
   html{
      font-size: 13.3px;
   }
}
@media (max-width: 1300px) {
   html{
      font-size: 10.83px;
   }
}
@media (max-width: 1200px) {
   html{
      font-size: 10px;
   }
}
@media (max-width: 1080px) {
   html{
      font-size: 9px;
   }
}
.global-container{
   width: 100%;
   height: 100%;
   //padding:0 rem(360);
   padding-left: clamp(16px, 18.75vw, rem(360));
   padding-right: clamp(16px, 18.75vw, rem(360));
   @media (max-width: 900px) {
      padding-left: rem(16);
      padding-right: rem(16);
   }
}
.info{
   &__container{
      padding-bottom: rem(120);
      padding-top: rem(120);
      display: flex;
      flex-direction: column;
      gap: rem(120);
   }
}
.tour-team{
   &__container{
      padding-bottom: rem(120);
      padding-top: rem(120);
      display: flex;
      flex-direction: column;
      gap: rem(22);
   }
}