.our-blogs {
      &__container{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
		&__main-block {
         margin-top: rem(100);
         margin-bottom: rem(136);
         width: 100%;
         display: grid;
         grid-template-columns: 1fr rem(330);
         gap: rem(80);
		}
}