.single-blog {

		&__container {
         margin-top: rem(120);
         margin-bottom: rem(120);
         width: 100%;
         display: flex;
         justify-content: space-between;
         gap: (80/1200)*100%;
		}

		&__main-content {
         display: flex;
         flex-direction: column;
         gap: rem(50);
         width: (790/1200)*100%;
         & .tour-guide{
            width: 100%;
            border-radius: rem(10);
            padding: rem(30) rem(60) rem(30) rem(40);
            &__avatar{
               width: rem(120);
               height: rem(120);
            }
            &__employee{
               margin: rem(5) 0;
            }
            &__biography{
               font-family: $third-family;
               font-weight: 400;
               font-size: rem(16);
               line-height: (55/48)*100%;
               letter-spacing: 0.02em;
               color: #05152e;
            }
         }
		}

      &__info{
         display: flex;
         flex-direction: column;
         gap:rem(30);
      }

		&__add-content {
         display: flex;
         flex-direction: column;
         width: (330/1200)*100%;
         gap: rem(40);
         & .offer{
         width: 100%;
         padding: rem(50) rem(60);
         gap: rem(41);
            &__percent{
               line-height: (108/90)*100%;
            }
         }
         & .newsletter{
            padding: rem(30) rem(25);
            border-radius: rem(5);
            width: 100%;
	         height: auto;
            &__container{
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
               gap: rem(24);
            }
            &__heading{
               display: flex;
               align-items: flex-start;
               height: auto;
               font-family: $second-family;
               font-weight: 900;
               font-size: rem(20);
               letter-spacing: 0.02em;
               text-transform: capitalize;
               text-align: center;
               color: $navy;
               line-height:(54/40)*100%;
            }
            &__form{
               display: flex;
               align-items: center;
               justify-content: space-between;
               height: rem(50);
               width: 100%;
            }
            &__email{
               display: flex;
               align-items: center;
               height: 100%;
               background: #ffd8ce;
               padding: 0 rem(14);
               font-family: $first-family;
               font-weight: 400;
               font-size: rem(14);
               line-height: 300%;
               letter-spacing: 0.03em;
               color: $navy;
               //width: 100%;
            }
            &__btn{
               border-radius: 0 rem(5) rem(5) 0;
               min-width: rem(55);
               padding-right: rem(15);
               padding-left: rem(15);
               &>img{
                  height: rem(25);
                  width:rem(25);
               }
            }
         }
		}
}
