//!Tools//
@import "tools/abstracts";
@import "tools/function";
//!Base/
@import "base/null";
@import "base/typography";
//!Pages//
@import "pages/index";
@import "pages/about-us";
@import "pages/tour-details";
@import "pages/our-blogs";
//!Elemnts//
@import "elements/buttons";
@import "elements/arrow";
@import "elements/a-links";
//!Layouts-Home&Main//
@import "layouts/header";
//*Hero//
@import "layouts/hero";
@import "layouts/hero-other";
//* //
@import "layouts/we-are-tourlux";
@import "layouts/get-to-know";
@import "layouts/counter";
@import "layouts/featured-tours";
@import "layouts/tour-list";
@import "layouts/gallery";
@import "layouts/get-it-now";
@import "layouts/testimonals";
@import "layouts/are-you-ready";
@import "layouts/our-blog";
@import "layouts/footer";
//!Layouts-AbousUs//
@import "layouts/heading-info";
@import "layouts/team-list";
@import "layouts/newsletter";
//!Layouts-tour-details//
@import "layouts/photo-gallery";
@import "layouts/details";
@import "layouts/tour-plan";
@import "layouts/included";
@import "layouts/tour-guide";
@import "layouts/offer";
//!Layuots-Our-Blogs//
@import "layouts/blog-posts";
@import "layouts/blogs";
@import "layouts/blogs-info";
@import "layouts/recent-post";
@import "layouts/tags";